@charset "utf-8";

/*My Variables */
$navbar-height: 4.25rem;

$menu-item-hover-background-color: hsl(0, 0%, 48%);
$menu-item-hover-color: white;

@import "mybulma/bulma.sass";
@import "select2fix.scss";


/* Helper CSS */
.is-top-marginless {margin-top: 0;}
.logo-pad {padding: 0.75em}

/* To make the sidebar work */
html, body, .page-content{
    min-height: 100%;
}
.page-content {
    min-height: 80vh;
}

.footer {
    margin-top: -12px;
    padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
        display: block;
    }
}

/* Hover for the Sidebar */
.has-sub-menu{
    .sub-menu {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        transition: opacity 0.25s ease-out;
    }
    /*Sub menu toggle*/ 
    &.is-active {
        .sub-menu {
            visibility: visible;
            position: inherit;
            opacity: 1;
        }
    }

}

/* My Styles */

//Navbar Borders
.navbar {
    border-bottom: 1px solid white;
}

//Used In Search box. Prevents it from being too small
.input.force-min-width {
    min-width: 10em;
}
//Use on boxes in columns to make them fill up the 
//entire column.
.box.is-fullheight {
    height: 100%;
}
